.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;

  @media (max-width: 768px) {
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
  }
}

.headerButtons {
  display: flex;

  @media (max-width: 768px) {
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.headerText {
  font-size: 28px;
}

.navItem {
  //   background-color: var(--cui-primary);
  //   border-color: var(--cui-primary);
  border-radius: 18px;
  width: 100%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.navItem:hover {
  //   background-color: var(--cui-primary);
  color: #f0f0f0;
}

// .addDeviceBtn {
//   color: white;
//   margin-right: 10px;

//   @media (max-width: 768px) {
//     margin-right: 0px;
//     width: 100%;
//   }
// }
