// Login.module.scss

#lBg {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/images/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: 1;
  }

  .loginContainer {
    position: relative;
    z-index: 2;
    background-color: var(--cui-bg-body-tertiary);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    margin-top: -50px;

    .loginCard {
      width: 100%;
      max-width: 500px;
      padding: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      width: 200px;
      border-radius: 50%;
    }

    .loginForm {
      width: 100%;
    }

    .centerButton {
      display: flex;
      justify-content: center;
    }
  }
}

.forgotPwBtn {
  text-decoration: none;
  margin-top: 8px;
}

.registerText {
  margin-top: 20px;
}

.loginBtn {
  width: 100px;
}

.signupBtn {
  width: 130px;
}

.errmsg {
  color: red;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
