// Variable overrides
$enable-deprecation-messages: false !default;

$primary: #886ade;

// Sidebar colors
$sidebar-nav-link-icon-color: grey;
$sidebar-nav-link-hover-icon-color: white;
$sidebar-nav-link-active-color: #ffffff;
$sidebar-nav-link-active-icon-color: #ffffff;
$sidebar-nav-link-active-bg: $primary;
$sidebar-nav-link-hover-bg: #ae9fd8;
$sidebar-nav-link-hover-color: white;

// Pagination colors
$pagination-color: grey;

// Table colors
$light-table-text-color: #6b7689;
$light-table-header-bg: #f9fafb;
$light-table-border-bg: #f3f5f6;
$light-table-odd-bg: var(--cui-body-bg);
$light-table-even-bg: #f8f8f8;

// Search-box colors
$light-search-bg: #f1f3f5;
$dark-search-bg: #f9fafb;
