// Variable overrides
$enable-deprecation-messages: false !default;

$primary: #886ade;

// Sidebar colors
$sidebar-nav-link-icon-color: grey;
$sidebar-nav-link-hover-icon-color: white;
$sidebar-nav-link-active-color: #ffffff;
$sidebar-nav-link-active-icon-color: #ffffff;
$sidebar-nav-link-active-bg: $primary;
$sidebar-nav-link-hover-bg: rgb(180, 180, 180);
$sidebar-nav-link-hover-color: white;

// Pagination colors
$pagination-color: grey;

// Light mode variables
$light-table-text-color: #6b7689;
$light-table-header-bg: #f9fafb;
$light-table-border-bg: #f3f5f6;
$light-table-odd-bg: var(--cui-body-bg);
$light-table-even-bg: #f8f8f8;
$light-search-bg: #f1f3f5;

// Dark mode variables
$dark-table-text-color: var(--cui-body-color);
$dark-table-header-bg: #1f2127;
$dark-table-border-bg: var(--cui-body-bg);
$dark-table-odd-bg: var(--cui-body-bg);
$dark-table-even-bg: #1f2127;
$dark-search-bg: #f9fafb;
