// Variable overrides
$enable-deprecation-messages: false !default;

// Variables for light mode
[data-coreui-theme="light"] {
  color-scheme: light;

  // table colors
  --cui-table-text-color: #6b7689;
  --cui-table-header-bg: #f9fafb;
  --cui-table-border-bg: #f3f5f6;
  --cui-table-odd-bg: var(--cui-body-bg);
  --cui-table-even-bg: #fdfcfd;

  // search bar colors
  --cui-search-bg: #f1f3f5;

  .border-bottom {
    border-bottom: 0px !important;
  }

  .header {
    --cui-header-border: 1px solid #f3f5f6;
    --cui-border-color: #f3f5f6;
  }
}

// Variables for dark mode
[data-coreui-theme="dark"] {
  color-scheme: dark;

  // table colors
  --cui-table-text-color: var(--cui-body-color);
  --cui-table-header-bg: #1f2127;
  --cui-table-border-bg: var(--cui-body-bg);
  --cui-table-odd-bg: var(--cui-body-bg);
  --cui-table-even-bg: #1f2127;

  // search bar colors
  --cui-search-bg: #f1f3f5;
}
